body {
    font-family: Arial, Helvetica, sans-serif;
}
.beU-nav {
    background-color: #292b2c;
    height: 50px;
}
h1 {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
}
.main-body {
    margin-top: 50px;
}
.camera-box {
    width: 100%;
    height: 550px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.camera-content {
    width: 100%;
    height: 100%;
}
#imageSrc {
    width: 100%;
    height: 100%;
    background-image: url("../resource/images/shirt15.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
}
#upload-input {
    display: none;
}
.act-select-cam-img {
    overflow: hidden;
    float: left;
}
.act-select {
    float: left;
    background: #ddd;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 0;
    color: #292B2D;
    font-weight: 400;
}
.act-select:not(.selected):hover {
    border-color: #adadad;
}
.act-select.selected {
    background-color: #5cb85c;
    color: #fff;
}
.camera-box img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
    object-fit: scale-down;
}
.user-action {
    margin-top: 20px;
}
.act-measure {
    text-align: center;
    float: right;
}
.act-measure .btn {
    border-radius: 0px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}
.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
}
.measurement-table {
    width: 100%;
}
.measurement-table tr {
    border-bottom: 1px solid #ddd;
}
.measurement-table tr:last-child {
    border-bottom: none;
}
.measurement-table thead th {
    padding: 6px 5px;
    font-size: 14px;
}
.measurement-table thead th{
    color: rgba(0,0,0,.54);
}
.measurement-table tbody td{
    padding: 1px 5px;
    font-size: 13px;
    text-align: center;
}
.measurement-table td:first-child {
    text-align: left;
}